<div class="container">
  <div class="jumbotron">
    <div class="container">

      <div id="header">
        <h3>Search books</h3>
      </div>

      <form class="form-inline" id="search-form">
        <div class="form-group">
          <input type="text" class="form-control" id="bookTitle" placeholder="Book title">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="isbn" placeholder="Isbn">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="typeOfBook" placeholder="Type of book">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="authorLastName" placeholder="Author Last Name">
        </div>
          <button type="submit" id="bth-search" class="btn btn-success">Search book</button>
      </form>

      <div id="tabs">
        <table id="book" class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>ISBN</th>
            <th>Book Title</th>
            <th>Number of Page</th>
            <th>Release Date</th>
            <th>Type</th>
            <th>Author first name</th>
            <th>Author last name</th>
            <th>Borrower</th>
          </tr>
          </thead>
          <tbody id="bookList">
          <tr *ngFor="let book of books">
            <td><input type="radio" [value]="book.itemId" (change)="onSelectionChange(book)" name="itemId"/></td>
            <td>{{book.isbn}}</td>
            <td>{{book.bookTitle}}</td>
            <td>{{book.numberOfPage}}</td>
            <td>{{book.published | date:'yyyy-MM-dd'}}</td>
            <td>{{book.typeOfBook}}</td>
            <td>{{book.authorDto.firstName}}</td>
            <td>{{book.authorDto.lastName}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button type="button" class="btn btn-success custom-width" (click)="open(bookDialog)">New book</button>
      <button type="button" class="btn btn-primary" (click)="editForm(bookDialog)" [disabled]="isButtonDisabled" >Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteBook()" [disabled]="isButtonDisabled" >Delete</button>
      <button type="button" class="btn btn-info" (click)="redirectBookDetailsPage()" [disabled]="isButtonDisabled">Book Details</button>

    </div>
  </div>
</div>

<ng-template #bookDialog let-c="close" let-d="dismiss" >
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" >

    <div class="modal-header">
      <h4 class="modal-title">Book form</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

        <div class="form-group row"
             [ngClass]="{
              'has-danger': isbn.invalid && (isbn.dirty || isbn.touched),
              'has-success': isbn.valid && (isbn.dirty || isbn.touched)}">
          <label class="col-3 col-form-label">ISBN:</label>

          <div class="col-8">
            <input type="text" class="form-control" formControlName="isbn" required>
            <div class="form-control-feedback"
                 *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)">
            <p *ngIf="isbn.errors.required">ISBN number is required</p>
            </div>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{
              'has-danger': bookTitle.invalid && (bookTitle.dirty || bookTitle.touched),
              'has-success': bookTitle.valid && (bookTitle.dirty || bookTitle.touched)}">
          <label class="col-3 col-form-label">Book Title:</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="bookTitle">
            <div class="form-control-feedback"
                 *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)">
              <p *ngIf="bookTitle.errors.required">Book title is required</p>
            </div>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{
              'has-danger': numberOfPage.invalid && (numberOfPage.dirty || numberOfPage.touched),
              'has-success': numberOfPage.valid && (numberOfPage.dirty || numberOfPage.touched)}">
          <label class="col-3 col-form-label">Number of Page:</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="numberOfPage">
            <div class="form-control-feedback"
                 *ngIf="numberOfPage.invalid && (numberOfPage.dirty || numberOfPage.touched)">
              <p *ngIf="numberOfPage.errors">Number of Page is required</p>
            </div>
          </div>
        </div>

      <div class="form-group row"
           [ngClass]="{
              'has-danger': published.invalid && (published.dirty || published.touched),
              'has-success': published.valid && (published.dirty || published.touched)}">
        <label class="col-3 col-form-label">Release Date:</label>
        <div class="col-8">
         <input type="text" placeholder="yyyy-mm-dd" class="form-control" formControlName="published">

<!--
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                  type="text" formControlName="published" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
-->


          <div class="form-control-feedback"
               *ngIf="published.invalid && (published.dirty || published.touched)">
            <p *ngIf="published.errors">Release Date is required</p>
          </div>
        </div>
      </div>

        <div class="form-group row"
             [ngClass]="{
              'has-danger': typeOfBook.invalid && (typeOfBook.dirty || typeOfBook.touched),
              'has-success': typeOfBook.valid && (typeOfBook.dirty || typeOfBook.touched)}">
          <label class="col-3 col-form-label">Type of book:</label>
          <div class="col-8">
              <select class="form-control" id="typeOfBook" formControlName="typeOfBook">
                <option *ngFor="let typeOfBook of typesOfBook" >{{typeOfBook}}</option>
              </select>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{
              'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
              'has-success': firstName.valid && (firstName.dirty || firstName.touched)}">
          <label class="col-3 col-form-label">Author first name: </label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="firstName">
            <div class="form-control-feedback"
                 *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors.required">Author first name is required</p>
            </div>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{
              'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
              'has-success': lastName.valid && (lastName.dirty || lastName.touched)}">
          <label class="col-3 col-form-label">Author last name: </label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="lastName">
            <div class="form-control-feedback"
                 *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors.required">Author last name is required</p>
            </div>
          </div>
        </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!bookForm.valid" >Submit</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>

  </form>
</ng-template>
