<div class="container">
  <div id="tabs">
    <table id="book" class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>ISBN</th>
        <th>Book Title</th>
        <th>Number of Page</th>
        <th>Release Date</th>
        <th>Type</th>
        <th>Author name</th>
        <th>Author surname</th>
        <th>Borrower</th>
      </tr>
      </thead>
      <tbody id="bookList">
      <tr *ngFor="let book of books">
        <td><input type="radio" [value]="book.itemId" (change)="onSelectionChange(book)" name="itemId"/></td>
        <td>{{book.isbn}}</td>
        <td>{{book.bookTitle}}</td>
        <td>{{book.numberOfPage}}</td>
        <td>{{book.published}}</td>
        <td>{{book.typeOfBook}}</td>
        <td>{{book.authorDto.firstName}}</td>
        <td>{{book.authorDto.lastName}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="nav">
    <button class="btn btn-success custom-width" (click)="open(content)">New book</button>
    <button id="editBook" class="btn btn-primary" [disabled]="isButtonDisabled" >Edit</button>
    <button type="button" class="btn btn-danger" (click)="deleteBook(book)" [disabled]="isButtonDisabled" >Delete</button>
    <button type="button" class="btn btn-info" (click)="redirectBookDetailsPage()" [disabled]="isButtonDisabled">Book Details</button>
  </div>

</div>
