<div class="container">
<div class="jumbotron">
  <div class="container">
    <div id="header">
      <h3>Book details</h3>
    </div>
    <div id="tabs">
      <table id="books" class="table table-striped">

        <div *ngIf="book">
          <div class="row">
            <label class="col-sm-2">Book ID:</label>
            <div class="col-sm-10">{{book.itemId}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">ISBN:</label>
            <div class="col-sm-10">{{book.isbn}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Book Title:</label>
            <div class="col-sm-10">{{book.bookTitle}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Release Date:</label>
            <div class="col-sm-10">{{book.published}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Number of Page:</label>
            <div class="col-sm-10">{{book.numberOfPage}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Type:</label>
            <div class="col-sm-10">{{book.typeOfBook}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Number of Page:</label>
            <div class="col-sm-10">{{book.numberOfPage}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Author first name:</label>
            <div class="col-sm-10">{{book.authorDto.firstName}}</div>
          </div>
          <div class="row">
            <label class="col-sm-2">Author last name:</label>
            <div class="col-sm-10">{{book.authorDto.lastName}}</div>
          </div>

          <div class="row">
            <label class="col-sm-2">Borrower</label>
            <div class="form-group">
            <div class="col-sm-12">
              <select class="form-control" id="borrower" required>
                   <option *ngFor="let borrow of borrowers" [value]="pow">{{borrow.lastName}}</option>
              </select>
            </div>
            </div>
          </div>

        </div>
      </table>
    </div>

    <button class="btn btn-success custom-width">New book</button>
    <button type="button" class="btn btn-warning" (click)="redirectBookListPage()">Back</button>

  </div>
</div>
</div>
