<div class="container">
  <div id="tabs">
    <table id="books" class="table table-striped">

      <div *ngIf="book">
        <div><span>Book ID:           </span>{{book.itemId}}</div>
        <div><span>ISBN:              </span>{{book.isbn}}</div>
        <div><span>Book Title:        </span>{{book.bookTitle}}</div>
        <div><span>Release Date:      </span>{{book.published}}</div>
        <div><span>Number of Page:    </span>{{book.numberOfPage}}</div>
        <div><span>Type:              </span>{{book.typeOfBook}}</div>
        <div><span>Author first name: </span>{{book.authorDto.firstName}}</div>
        <div><span>Author last  name: </span>{{book.authorDto.lastName}}</div>
      </div>

      <div *ngIf="book">
        <div class="row">
          <div class="col-xs-6">Book ID:</div>
          <div class="col-xs-9  pull-left">{{ book.itemId }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">ISBN:</div>
          <div class="col-xs-9 pull-left">{{ book.isbn }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Book Title:</div>
          <div class="col-xs-9 pull-left">{{ book.bookTitle }}</div>
        </div>
      </div>

    </table>
  </div>

  <div class="nav">
    <button class="btn btn-success custom-width" (click)="open(content)">New book</button>
    <button type="button" class="btn btn-warning" (click)="redirectBookListPage()">Back</button>
  </div>

</div>
