<ng-template #bookDialog let-c="close" let-d="dismiss" >
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">

    <div class="modal-header">
      <h4 class="modal-title">Book form</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="form-group row">
        <label for="isbn" class="col-3 col-form-label">ISBN:</label>
          <div class="col-8">
            <input type="text" class="form-control" id="isbn" required [(ngModel)]="book.isbn"
                   name="isbn" #isbn="ngModel" [ngModelOptions]="{update: 'change'}">
          </div>
          <div [hidden]="isbn.valid || isbn.pristine"
               class="alert alert-danger">
            Isbn number is required
          </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"  [disabled]="!bookForm.valid" >Submit</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>

  </form>
</ng-template>

